{% extends "auth_base.html" %}

{% block title %}
Login | ResumeAI
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-lg-5 col-md-7">

        <div class="card border-0 shadow-lg rounded-4" style="background:#1e293b;">

            <div class="card-body p-5">

                <div class="text-center mb-5">

                    <i class="bi bi-file-earmark-person-fill
                              display-2 text-primary"></i>

                    <h2 class="fw-bold text-light mt-3">

                        ResumeAI

                    </h2>

                    <p class="text-secondary">

                        AI Powered Resume Analysis Platform

                    </p>

                </div>

                <h4 class="text-center text-white mb-4">

                    Welcome Back 👋

                </h4>

                <form method="POST">
                    {% if form.errors %}

                    <div class="alert alert-danger">

                        Invalid username or password.

                    </div>

                    {% endif %}

                    {% csrf_token %}

                    <div class="mb-3">

                        <label class="form-label text-light">

                            Username

                        </label>

                        {{ form.username }}

                    </div>

                    <div class="mb-4">

                        <label class="form-label text-light">

                            Password

                        </label>

                        {{ form.password }}

                    </div>

                    <button class="btn btn-primary w-100 py-2">

                        <i class="bi bi-box-arrow-in-right"></i>

                        Login

                    </button>
                    <div class="text-center mt-3">

                        <a href="{% url 'password_reset' %}" class="text-decoration-none">

                            Forgot Password?

                        </a>

                    </div>

                </form>

                <hr class="border-secondary">

                <p class="text-center text-light">

                    Don't have an account?

                    <a href="{% url 'register' %}">

                        Register

                    </a>

                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}