{% extends "auth_base.html" %}

{% block title %}

Password Updated

{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card bg-dark border-secondary shadow">

            <div class="card-body p-4 text-center">

                <h2 class="text-white mb-3">

                    Password Updated Successfully

                </h2>

                <p class="text-secondary">

                    Your password has been reset successfully.

                </p>

                <a
                    href="{% url 'login' %}"
                    class="btn btn-success">

                    Login Now

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}